*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100%;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

 /*Nota: el body de la pagina inicio y los bodies de las otras pags se trabajan independientemente, pero el el header & footer son los mismos en todo el sitio web*/

.body__index {
    min-width: 100%;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 0.1fr 0.1fr 0.5fr 0.2fr 0.2fr 0.75fr 0fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "imgSupFondo imgSupFondo"
      "imgBotonesArriba carrete_prendas"
      "imgsPagPPal imgsPagPPal"
      "custom-shape-divider-bottom-1699987037 custom-shape-divider-bottom-1699987037"
      "carrete_recomendados carrete_recomendados"
      "footer footer";
}

/* header de todas las pags del sitio*/
.header {
    grid-area: header;
}
.mensaje_inicial {
    height: 18px;
    font-size: 70%;
    font-weight: bold;
    display: inline-block;
    animation: desplazar 25s linear infinite; /* Aplicar la animación */
    white-space: nowrap; /* Evitar el salto de línea */
    overflow: hidden; /* Ocultar texto que desborda */
    position: relative; /* Para usar transform en relación a este elemento */
}
@keyframes desplazar {
    0% {
        transform: translateX(120%); /* Mover el texto fuera del contenedor a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Mover el texto fuera del contenedor a la izquierda */
    }
}
.menu_navegacion {
    text-align: center;
    background-color: rgb(17, 57, 70);
    display: flex;
    justify-content: space-between;
}
.espacioMarca {
    display: flex;
}
.tittleMarca {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 5px -25px 0px 20px;
}
.tittleMarca:hover {
    color: rgb(188, 163, 127);
}
.logoMarca img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}
.navbar-nav a{
    color: rgb(188, 163, 127);
}
.navbar-nav li a:hover{
    color: white;
}

/*fin de header de todas las paginas, inicio cajas del body de pag Ppal*
.imgSupFondo {
    grid-area: imgSupFondo;
    max-width: 100%;
    max-height: 80%;
    background-image: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    margin-bottom: 50px;
}
.imgSupFondo h3{
    margin: 35px auto;
    color: rgb(249, 234, 234);
    text-align: center;
}
.imgBotonesArriba {
    grid-area: imgBotonesArriba;
    background-image: url(https://images.pexels.com/photos/235525/pexels-photo-235525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    border-radius:2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.85;
}
.imgBotonesArriba button{
    color: white;
    font-size: 1.7rem;
    width: 250px;
}
.imgBotonesArriba button:hover{
    color: rgb(255, 242, 216);
}
.carrete_prendas {
    grid-area: carrete_prendas;
}
.carousel-inner img{
    max-width: 100%;
    border-radius: 12px;
}
.imgsPagPPal{
    grid-area: imgsPagPPal;
    align-items: center;
    align-content: center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 100%; 
    grid-template-columns: 0.9fr 1fr 0.9fr; 
    grid-template-rows: 1fr 1fr; 
    grid-gap: 5px 5px; 
    grid-template-areas: 
        "img1__pagPpal img2__pagPpal img4__pagPpal"
        "img1__pagPpal img3__pagPpal img4__pagPpal"; 
    height: 100%;
}
.img1__pagPpal { 
    grid-area: img1__pagPpal; 
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre *
    max-width: 100%; /* Garantiza que el contenedor no sea más ancho que el tamaño original de la imagen *
}
.img1__pagPpal img{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor *
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original de la imagen *
    display: block; /* Elimina el espacio adicional debajo de la imagen *
    border-radius: 2%;
}
.img2__pagPpal { 
    grid-area: img2__pagPpal;
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre *
    max-width: 100%; /* Garantiza que el contenedor no sea más ancho que el tamaño original de la imagen *
}
.img2__pagPpal img{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor *
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original de la imagen *
    display: block; /* Elimina el espacio adicional debajo de la imagen *
    border-radius: 10%;
    object-fit: cover;
    margin-top: 90px;
}
.img3__pagPpal { 
    grid-area: img3__pagPpal;
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre *
    max-width: 100%; /* Garantiza que el contenedor no sea más ancho que el tamaño original de la imagen *
}
.img3__pagPpal img{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor *
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original de la imagen *
    display: block; /* Elimina el espacio adicional debajo de la imagen *
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 90px;
}
.img4__pagPpal { 
    grid-area: img4__pagPpal; 
    position: relative;
    margin-right: 25px;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre *
    max-width: 100%; /* Garantiza que el contenedor no sea más ancho que el tamaño original de la imagen * 
}
.img4__pagPpal img{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor *
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original de la imagen *
    display: block; /* Elimina el espacio adicional debajo de la imagen *
    border-radius: 2%;
    object-fit: cover;
}
.divider {
    width: 100vw;
}
.imgDivider img{
    align-content: end;  
    width: 100%;
    height: auto;
}
.carrete_recomendados {
    grid-area: carrete_recomendados;
    background-color: rgb(255, 242, 216);
    display: flex;
    justify-content: space-between;
}
.card {
    width: 18rem;
    border-radius: 5%;
    width: 300px; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; 
    max-width: 100%;
    max-height: 100%;
}
  .card:hover {
    box-shadow: 0 8px 16px rgb(17, 57, 70); 
}
.card-body{
    display: inline;
    justify-content: space-between;
    size: 20%;
    height: -30%;
    width: auto;    
    align-content: center;
    max-width: 100%;
}
.card-body, a, p, h5{
    text-decoration: none;
    font-size: small;
    max-width: 100%;
}
.textoTachado {
    text-decoration: line-through;
}
.card-body h6 {
    color: orangered;
    font-size: 1rem;
    max-width: 100%;
}
.seccionPrecios {
    display: flex;
    text-align: left;
    justify-content: space-around;
    font-size: 1rem;
    max-width: 100%;
}
.seccionPrecios p{
font-size: medium;
}
.card-textPrice {
    color: orangered;
    
}
.card-body .btn {
    width: 150px;
    font-size: 12px;
    background-color: rgb(17, 57, 70);
    margin: 5px 0px 0px 15px;
    align-content: center;
}
/*footer y sus hijos de todo el sitio web*
.footer {
    grid-area: footer;
    font-size: 80%;
    background-color: rgb(188, 163, 127);
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1%;
    justify-content: space-between;
}
.itemFooter {
    align-items: center;
}
.itemFooter h2{
    align-items: center;
    font-size: 1.4rem;
}
.iconoRedesSociales {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.iconoRedesSociales li {
    width: 20%;
    height: 20%;
    padding: 10px 5px 10px 10px;
    display: flex;
    align-items: rigth;
    justify-content: space-between;
}
@media screen and (max-width: 320px) {
    .body__index {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.08fr 0.1fr 0.1fr 0.15fr 1fr 0.5fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "imgSupFondo"
          "imgBotonesArriba"
          "carrete_prendas"
          "imgsPagPPal"
          "custom-shape-divider-bottom-1699987037"
          "carrete_recomendados"
          "footer";
    }
    header {
        grid-area: header;
        width: 100vw;
    }
    .tittleMarca {
        font-size: 1.5rem;
    
    }
    .imgSupFondo {
        grid-area: imgSupFondo;
    }   
    .imgBotonesArriba {
        grid-area: imimgBotonesArriba;
    }
    .carrete_prendas{
        grid-area: carrete_prendas;
    }
    .imgsPagPPal {
        grid-area: imgsPagPPal;
    }
    .custom-shape-divider-bottom-1699987037 {
        grid-area: custom-shape-divider-bottom-1699987037;

    }
    .carrete_recomendados {
        grid-area: carrete_recomendados;
    }
    .card-body{
        max-width: 50%;
    }
    .footer {
        grid-area: footer;

    }
}
@media screen and (max-width: 425px) {
    .body__index {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.08fr 0.1fr 0.1fr 0.15fr 1fr 0.5fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "imgSupFondo"
          "imgBotonesArriba"
          "carrete_prendas"
          "imgsPagPPal"
          "custom-shape-divider-bottom-1699987037"
          "carrete_recomendados"
          "footer";
    }
    header {
        grid-area: header;
        width: 100vw;
    }
    .tittleMarca {
        font-size: 1.5rem;
    
    }
    .imgSupFondo {
        grid-area: imgSupFondo;
    }   
    .imgBotonesArriba {
        grid-area: imimgBotonesArriba;
    }
    .carrete_prendas{
        grid-area: carrete_prendas;
    }
    .imgsPagPPal {
        grid-area: imgsPagPPal;
    }
    .custom-shape-divider-bottom-1699987037 {
        grid-area: custom-shape-divider-bottom-1699987037;

    }
    .carrete_recomendados {
        grid-area: carrete_recomendados;
    }
    .card-body{
        max-width: 50%;
    }
    .footer {
        grid-area: footer;

    }
}
@media screen and (max-width: 768px) {
    .body__index {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.08fr 0.1fr 0.1fr 0.15fr 1fr 0.5fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "imgSupFondo"
          "imgBotonesArriba"
          "carrete_prendas"
          "imgsPagPPal"
          "custom-shape-divider-bottom-1699987037"
          "carrete_recomendados"
          "footer";
    }
    header {
        grid-area: header;
        width: 100vw;
    }
    .tittleMarca {
        font-size: 1.5rem;
    
    }
    .imgSupFondo {
        grid-area: imgSupFondo;
    }   
    .imgBotonesArriba {
        grid-area: imimgBotonesArriba;
    }
    .carrete_prendas{
        grid-area: carrete_prendas;
    }
    .imgsPagPPal {
        grid-area: imgsPagPPal;
    }
    .custom-shape-divider-bottom-1699987037 {
        grid-area: custom-shape-divider-bottom-1699987037;

    }
    .carrete_recomendados {
        grid-area: carrete_recomendados;
    }
    .card-body{
        max-width: 50%;
    }
    .footer {
        grid-area: footer;

    }
}
@media screen and (max-width: 1024px){
    .body__index {
        min-width: 100%;
        height: auto;
        font-family: 'Quicksand', sans-serif;
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: 0.1fr 0.1fr 0.5fr 0.2fr 0.4fr 0.75fr 0.3fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
        "header header"
        "imgSupFondo imgSupFondo"
        "imgBotonesArriba carrete_prendas"
        "imgsPagPPal imgsPagPPal"
        "custom-shape-divider-bottom-1699987037 custom-shape-divider-bottom-1699987037"
        "carrete_recomendados carrete_recomendados"
        "footer footer";
    }
    .frase_shapeDivider {
        position: absolute; 
        font-size: large;
        top: 50%;
        left: 50%;
        color: black;
        z-index: 2;
        display: flex;
        flex-direction: column;
        transform: rotate(180deg) translateX(120%);
        width: 100%;
    }
}
*/