*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100%;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 768px){
    .body_index {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1.4fr 1.5fr 1.5fr 2fr 2fr 2fr 1.6fr; 
        gap: 1px 1px; 
        grid-template-areas: 
          "header"
          "imgSupFondo"
          "imgBotonesArriba"
          "carrete_prendas"
          "imgsPagPPal"
          "carrete_recomendados"
          "footer"; 
    }
    .header { 
        grid-area: header; 
        .mensaje_inicial {
            height: 18px;
            font-size: 70%;
            font-weight: bold;
            display: inline-block;
            animation: desplazar 25s linear infinite; /* Aplicar la animación */
            white-space: nowrap; /* Evitar el salto de línea */
            overflow: hidden; /* Ocultar texto que desborda */
            position: relative; /* Para usar transform en relación a este elemento */
        }
        @keyframes desplazar {
            0% {
                transform: translateX(40%); /* Mover el texto fuera del contenedor a la derecha */
            }
            100% {
                transform: translateX(-100%); /* Mover el texto fuera del contenedor a la izquierda */
            }
        }
        .menu_navegacion {
            display: flex;
            background-color: rgb(17, 57, 70);
            .espacioMarca {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .tittleMarca h2{
                    color: rgb(234, 215, 187);
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.3rem;
                    padding-top: 10px;
                    margin: 15px;
                    }
                    .tittleMarca h2:hover {
                            color: white;
                    }
                }
                .logoMarca img{
                    width: 18%;
                    height: auto;
                    border-radius: 50%;
                    margin: 10px 0px 0px 0px;
                }
            }
        }
        .navbar {
        }
        .navbar-expand-lg {
        }
        .ms-auto {
        }
        .container-fluid {
        }
        .navbar-toggler {
        }
        .navbar-toggler-icon {
        }
        .collapse {
        }
        .navbar-collapse {
        }
        .navbar-nav {
        }
        .nav-item {
        }
        .nav-link {
        }
        
    }
      .imgSupFondo { 
        grid-area: imgSupFondo; 
        background-color: blue;
    }
      .imgBotonesArriba { 
        grid-area: imgBotonesArriba;
        background-color: red; 
    }
      .carrete_prendas { 
        grid-area: carrete_prendas;
        background-color: green; 
    }
      .imgsPagPPal { 
        grid-area: imgsPagPPal; 
        background-color: gray;
    }
      .carrete_recomendados { 
        grid-area: carrete_recomendados; 
        background-color: black;
    }
      .footer { 
        grid-area: footer; 
        background-color: chocolate;
    }


    