*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100%;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}
@media screen and (min-width: 320px){
    .body_index {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1.4fr 2fr 2fr 1fr 1fr 1fr 1.6fr; 
        gap: 1px 1px; 
        grid-template-areas: 
          "header"
          "imgSupFondo"
          "imgBotonesArriba"
          "carrete_prendas"
          "imgsPagPPal"
          "carrete_recomendados"
          "footer"; 
    }
    @import "header.scss";
    
        /* las sgtes clases no se necesitan, EN EL MOMENTO... sin embargo podria requerirlas mas adelante:

        .navbar-expand-lg {
        }
        .ms-auto {
        }
        .container-fluid {
        }
        .navbar-toggler {
        }
        .navbar-toggler-icon {
        }
        .collapse {
        }
        .navbar-collapse {
        }
        .navbar-nav {
        }
        .nav-item {
        }
        .nav-link {
        }*/
        
    .imgSupFondo { 
        grid-area: imgSupFondo;
        background-image: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-size: cover;
        text-align: center;
        align-content: center;
        height: 100px;
        margin: 5px auto;
        .imgSupFondo h3{
            margin: 15px;
        }
    }
    .imgBotonesArriba { 
    grid-area: imgBotonesArriba;
        background-image: url(https://images.pexels.com/photos/235525/pexels-photo-235525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-size: cover;
        height: 150px;
        border-radius:2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0.8;
        button{
            color: white;
            font-size: 1.7rem;
            width: 250px;
        }
        button:hover{
            color: rgb(188, 163, 127);
        }
    }
    .carrete_prendas { 
        grid-area: carrete_prendas;
        margin: 5px auto; 
    }
    .imgsPagPPal { 
        grid-area: imgsPagPPal;
        align-items: center;
        align-content: center;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 0.9fr 1fr 0.9fr; 
        grid-template-rows: 0.5fr 0.5fr; 
        grid-gap: 5px; 
        grid-template-areas: 
            "img1__pagPpal img2__pagPpal img4__pagPpal"
            "img1__pagPpal img3__pagPpal img4__pagPpal"; 
        .img1__pagPpal { 
            grid-area: img1__pagPpal; 
            width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre */
            max-width: 100%; /* Garantiza que el contenedor no sea más ancho que el tamaño original de la imagen */
        }
        .img1__pagPpal img{
            width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
            height: auto; /* La altura se ajusta automáticamente para mantener la proporción original de la imagen */
            display: block; /* Elimina el espacio adicional debajo de la imagen */
            border-radius: 2%;
        }
        .img2__pagPpal { 
            grid-area: img2__pagPpal;
            width: 100%; 
            max-width: 100%; 
        }
        .img2__pagPpal img{
            width: 100%; 
            height: auto; 
            display: block; 
            border-radius: 10%;
            object-fit: cover;
            margin-top: 90px;
        }
        .img3__pagPpal { 
            grid-area: img3__pagPpal;
            width: 100%; 
            max-width: 100%; 
        }
        .img3__pagPpal img{
            width: 100%; 
            height: auto; 
            display: block; 
            border-radius: 10%;
            object-fit: cover;
            margin-bottom: 90px;
        }
        .img4__pagPpal { 
            grid-area: img4__pagPpal; 
            width: 100%; 
            max-width: 100%;  
        }
        .img4__pagPpal img{
            width: 100%; 
            height: auto; 
            display: block; 
            border-radius: 2%;
            object-fit: cover;
        }
    }
    .divider {
        width: 100vw;
        pad: 0px;
        .imgDivider img{
            align-content: end;  
            width: 100%;
            height: auto;
        }
    }
    .carrete_recomendados { 
        grid-area: carrete_recomendados; 
        background-color: rgb(255, 242, 216);
        display: flex;
        justify-content: space-between;
            .card {
                width: 20%;
                border-radius: 5%;
                padding: 5px;
                border-radius: 10px; 
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: box-shadow 0.3s ease-in-out; 
                max-width: 100%;
                max-height: 100%;
                position: relative;
            .card-body{
                display: inline;
                justify-content: space-between;
                width: auto;    
                align-content: center;
                max-width: 100%;
                .card-title{
                    text-decoration: none;
                    font-size: 0.8rem;
                    max-width: 100%;
                }
                h6 {
                    color: orangered;
                    font-size:0.8rem;
                    max-width: 100%;
                }
                .card-text{
                    text-decoration: none;
                    font-size: 0.6em;
                    
                }
                .seccionPrecios{
                    display: flex;
                    text-align: left;
                    justify-content: space-evenly;
                    width: 100vw;
                    max-width: 100%;
                    .textoTachado{
                        text-decoration: line-through;
                        font-size: 0.7rem;
                    } 
                    .card-textPrice{
                        color: orangered;
                        font-size: 0.7rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
                .btn {
                    width: 100%;
                    min-width: 70px;
                    font-size: 0.5em;
                    background-color: rgb(17, 57, 70);
                    align-items: center;
                    margin: 5px 0px 0px 0px;
                }
            }
        }
        /*se ubica este hover en este punto ya que alponerlo arriba aplicaba el sombreado a cada elemento de la card*/
        .card:hover {
            box-shadow: 0 8px 16px rgb(17, 57, 70); 
        }
    }
    @import "footer.scss";
}
@media screen and (min-width: 480px){
    .footer { 
        grid-area: footer;
        .itemFooter {
            align-items: center;
            width: 20vw;
            h2{
                align-items: center;
                font-size: 0.6rem;
                font-weight: bold;
                padding-bottom: 10px;
            }
            p{
                line-height: 0.4;
                font-size: 0.43rem;
                text-decoration: none;
            }   
        }
    }
}
@media screen and (min-width: 768px){
    .footer { 
        grid-area: footer;
        .itemFooter {
            align-items: center;
            width: 20vw;
            h2{
                align-items: center;
                font-size: 0.8em;
                font-weight: bold;
                padding: 10px 0px;
            }
            p{
                line-height: 0.4;
                font-size: 0.6rem;
                text-decoration: none;
            }   
        }
    }
}
@media screen and (min-width: 1024px){
    .body_index {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.4fr 1.5fr 1.5fr 2fr 2fr 1fr 2fr 1.6fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 1px 1px;
        grid-auto-flow: row;
        grid-template-areas:
        "header header"
        "imgSupFondo imgSupFondo"
        "imgBotonesArriba carrete_prendas"
        "imgBotonesArriba carrete_prendas"
        "imgsPagPPal imgsPagPPal"
        "divider divider"
        "carrete_recomendados carrete_recomendados"
        "footer footer";
    }
    .header { 
        grid-area: header; 
    }
    .imgSupFondo { 
        grid-area: imgSupFondo; 
    }
    .imgBotonesArriba { 
        grid-area: imgBotonesArriba; 
    }
    .carrete_prendas { 
        grid-area: carrete_prendas; 
    }
    .imgsPagPPal { 
        grid-area: imgsPagPPal; 
    }
    .divider {
        grid-area: divider;
    }
    .carrete_recomendados { 
        grid-area: carrete_recomendados;
        .card {
            .card-body{
                .card-title{
                    text-decoration: none;
                    font-size: 0.9rem;
                    max-width: 100%;
                }
                h6 {
                    color: orangered;
                    font-size:0.9rem;
                    max-width: 100%;
                }
                .card-text{
                    text-decoration: none;
                    font-size: 0.7em;
                    
                }
                .seccionPrecios{
                    display: flex;
                    text-align: left;
                    justify-content: space-evenly;
                    width: 100vw;
                    max-width: 100%;
                    .textoTachado{
                        text-decoration: line-through;
                        font-size: 0.8rem;
                    } 
                    .card-textPrice{
                        color: orangered;
                        font-size: 0.8rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
                .btn {
                    width: 100%;
                    min-width: 70px;
                    font-size: 0.5em;
                    background-color: rgb(17, 57, 70);
                    align-items: center;
                    margin: 5px 0px 0px 0px;
                }
            }
        }
    }
    .footer { 
        grid-area: footer;
        .itemFooter {
            align-items: center;
            width: 20vw;
            h2{
                align-items: center;
                font-size: 0.9em;
                font-weight: bold;
                padding: 10px 0px;
            }
            p{
                line-height: 0.4;
                font-size: 0.7rem;
                text-decoration: none;
            }   
        }
    }
}
