* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.BarraNav {
    background-color: #001731;
}

.BarraNavegacion a img{
    width: 90px;
    height: auto;
}

.navbar-nav li a {
    text-decoration: none;
    color:azure
}
.navbar-nav li a:hover {
    color: #A3FF71;
}

.itemsBarraNav {
    margin-right: 45px;
}

.navbar-toggler {
    color: azure;
    background-color: azure;
    align-content: end;
}

.botonCarrito a img{
    width: 15px;
    height: auto;
}

.divBanner{
    margin: 120px 0px 120px 80px;
}

.imgPc img {
    align-items: center;
    margin-top: 50px;
}

.Titulobanner{
    color: #23be04;
    align-items: center;
    margin: 25px;
}  

.SubTituloBanner{
    margin: 15px;
}

.liBanner li{
    margin-left: 35px;
}
 
/*ItemDetail*/
.cardprodDetalle{
    display: flex;
    justify-content: center;
}

.imgCardDetalle{
    flex: 0 0 auto; 
    margin-left: calc((100% / 12) * 2); 
    width: calc((100% / 12) * 3);
}

.tituloDetalleProd{
    margin: 35px 0px 55px;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 630;
}

.precioProducto{
    font-size: x-large;
    font-weight: 600;
}

.DescripcProducto{
    font-size: large;
    font-weight: 400;
}

.seccionTextoDetalle{
    flex: 0 0 auto;
    width: calc((100% / 12) * 5)
}

/*ItemCount*/
.BtnsCantidad button {
    width: 35px;
    height: auto;
    border-radius: 55px;
    background-color: #001731;
    color: azure;
}

.BtnsCantidad button:hover {
    background-color: #23be04;
    color: azure;
}

.BtnCarrito button{
    width: 150px;
    height: auto;
    border-radius: 55px;
    background-color: #001731;
    color: azure;
}

.BtnCarrito button:hover {
    background-color: #23be04;
    color: azure;
}


/*Item*/
.cardProducto img {
    text-align: center;
    width: 150px;
    height: auto;
    margin-top: 20px;
}

.card{
    width: 250px;
    height: 400px;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.card-body {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}

.textoCard{
    align-items: end;
}

.cargando{
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    margin: 210px 0 200px 0;
}

/*CheckOut*/
.formCheckOut{
    margin-top: 100px; 
}

.BtnCompra {
    width: 650px;
    height: auto;
    border-Radius: 55px;
    background-Color: #001731;
    color: azure;
    margin: 100px 0px 100px 0px;
}

.BtnCompra:hover {
    background-color: #23be04;
    color: azure;
}

.TextoCheckOut {
    margin: 80px 0px 80px 0px;
}

.btnPagPpal {
    width: 450px;
    height: auto;
    border-Radius: 55px;
    background-Color: #001731;
    color: azure;
    margin: 100px 0px 100px 0px;
}

.btnPagPpal:hover {
    background-color: #23be04;
    color: azure;
}


/*Cart*/
.TextoCart {
    margin: 80px 0px 80px 0px;
}

.btnPagPpalCart {
    width: 450px;
    height: auto;
    border-Radius: 55px;
    background-Color: #001731;
    color: azure;
    margin: 100px 0px 100px 0px;
}

.btnPagPpalCart:hover {
    background-color: #23be04;
    color: azure;
}